<h2>{{post.title}}</h2>
<div>
  <small>{{post.created_at}}</small>
</div>

<a href='/posts/{{post.id}}/edit'>edit</a> | 
<form method='POST' action='/posts/{{post.id}}?_method=DELETE' class='inline'>
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
  <input type='submit' value='delete'>
</form>

<p>
  {{post.body}}
</p>

<a href='/posts'>Back</a>

